@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('<?= base_url('fonts/glyphicons-halflings-regular.eot')?>');
  src: url('<?= base_url('fonts/glyphicons-halflings-regular.eot?#iefix')?>') format('embedded-opentype'), url('<?= base_url('fonts/glyphicons-halflings-regular.woff')?>') format('woff'), url('<?= base_url('fonts/glyphicons-halflings-regular.ttf')?>') format('truetype'), url('<?= base_url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular')?>') format('svg');
}

body {
	height: 100;
	background-color: #007de3;
}

.primary-text {
	color: rgba(0, 0, 0, 0.68);
}

.secondary-text {
	color: rgba(0, 0, 0, 0.54);
}

.white-secondary {
  color: rgba(255, 255, 255, 0.70);
}

input {
  display: block;
}


.btn{
  background-color: #e91e63;
  color: white;
  border-color: red;
}


/* Basic Style/Positioning for all Pages */
body { overflow-x: hidden; /* Hide the other pages */ }

.pages,
.page,
.page .backbutton,
.page .nextbutton  { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.page h1 { margin-top: 4em; /* Make it show below the nav */ }   

.page .backbutton,
.page .nextbutton { width: 50%; }

.page .nextbutton { left: auto; right: 0; }

/* Pages */
#i2 { left: 100%; }
#i3 { left: 200%; }


/* Slide Effect */
.pages {
-webkit-transition: left 0.8s;
-moz-transition: left 0.8s;
-o-transition: left 0.8s;
-ms-transition: left 0.8s;
transition: left 0.8s;
}

#a1:target .pages { left: 0%; }
#a2:target .pages { left: -100%; }
#a3:target .pages { left: -200%; }

/* Top Navigation */
nav {
display: block;
position: fixed;
z-index: 1;
top: 0;
left: 0;
right: 0;
}




/* This is just make them less ugly */
body { font-family: sans-serif; text-align: center; }
h1 { font-size: 2em; }

/*=======================================
		Card
=======================================*/
label{
  float: left;
}

.sit_logo{
  margin: 30px 0 20px 0;
}

.intro{
  font-size: 16px;
}

.card {
  margin: 60px auto 0 auto;
  max-width: 300px;
  min-height: 270px;
  height: auto;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	padding: 20px;
  	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
  	border-radius: 2px;
  	background-clip: padding-box;
  	background-color: #fff;
}
	

.card h4{

  margin-bottom: 30px;

}

.btn{

  	height: 36px;
  	padding: 0 2rem;
  	border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
  	border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	 -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	 -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.2s ease-out;
    	-webkit-transition: 0.2s ease-out;
    	-moz-transition: 0.2s ease-out;
    	-o-transition: 0.2s ease-out;
    	-ms-transition: 0.2s ease-out;

}	

 .btn:hover {
    background-color: #d51b5a;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  	-moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
 } 

 .btn-xlarge {
    margin-top: 45px;
    padding: 10px 58px;
  }

.btn-wide {
    margin-top: 45px;
    width: 200px;
  }  

.circle-button {
  position: absolute;
  left: 45%;
  background-color: #e91e63;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px #555;
  color: #fff;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  transition: 300ms ease;
}

.circle-button {
  text-decoration: none !important;
}

.signup{
  margin: 80px auto 0 auto;
}



/*=======================================
    Text Below
=======================================*/

.explanation{
  color: white;
  max-width: 330px;
  margin-top: 20px; 
}



/*=======================================
				JUMBOTRON
========================================*/

.jumbotron {
	text-align: center;
	background-color: transparent;
}	

.jumbtron li {
	display: inline-block;
  	padding-left: 5px;
  	padding-right: 5px;
  	padding-top: 8px;
  	height: 48px;
  	width: 48px;
  	border: rgba(0, 0, 0, .68) solid 3px;
  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	-ms-border-radius: 50%;
  	-o-border-radius: 50%;
  	border-radius: 50%;
  	-moz-background-clip: padding;
  	-webkit-background-clip: padding-box;
  	background-clip: padding-box;
  	margin-right: 12px;
}	

.jumbtron li .end {
	margin-right: 0px;
}

/*=======================================
			NavBar
========================================*/	

.navbar-default { 
	border-color: transparent;
	background-color: transparent;
	text-align: center;
}

.navbar li {
	display: inline;
	margin-right: 8px;
}

#footer a {
	color: rgba(0, 0, 0, 0.54);
}

#footer a:hover {
	color: rgba(0, 0, 0, 0.68);
	text-decoration: none;
}

.navbar li .end {
	margin-right: 0px;
}

/*=======================================
			Optimization Flow
========================================*/
.content {
	text-align: center;
}

#slider {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff;
    overflow: hidden;
}

#slider:before, #slider:after {
    content: '';
    position: absolute;
    width: 60%;
    height: 20px;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-4deg) skew(-10deg);
    -moz-transform: rotate(-4deg) skew(-10deg);
    -o-transform: rotate(-4deg) skew(-10deg);
    -ms-transform: rotate(-4deg) skew(-10deg);
    transform: rotate(-4deg) skew(-10deg);
    left: 10px;
    bottom: 13px;
    z-index: -1;
}

#slider:after {
    left: auto;
    right: 10px;
    -webkit-transform: rotate(4deg) skew(10deg);
    -moz-transform: rotate(4deg) skew(10deg);
    -o-transform: rotate(4deg) skew(10deg);
    -ms-transform: rotate(4deg) skew(10deg);
    transform: rotate(4deg) skew(10deg);
}

#slider ul {
    width: 140px;
    height: 40px;
    padding: 0 0 0 0;
    position: absolute;
    z-index: 10;
    list-style: none;
    left: 50%;
    margin-left: -70px;
    bottom: 5%;
}

#slider ul li:first-child {
    margin-left: 16px;
}

#slider ul li {
    float: left;
    margin-right: 12px;
    margin-top: 14px;
}

#slider ul li:last-child {
    margin-right: 0;
}

/*=====================================
			SLIDER CONTROLS 			
======================================*/

#slider ul li a {
    width: 12px;
    height: 12px;
    display: block;
    outline: none;
    border: none;
    position: relative;
    z-index: 2;
    background: #aaa;
    box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.6), 0px 1px 1px 0px white;
    -moz-box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.6), 0px 1px 1px 0px white;
    -webkit-box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.6), 0px 1px 1px 0px white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#slider .slide {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    margin-top: 80px;
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#slider .slide:target {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0);
}

#slider .slide#five {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0);}



#slider ul li a[href="#five"] {
	background: #777;
}

#one:target ~ ul li a[href="#one"],
#two:target ~ ul li a[href="#two"],
#three:target ~ ul li a[href="#three"],
#four:target ~ ul li a[href="#four"],
#five:target ~ ul li a[href="#five"] {
  background: #777;
}

#two:target ~ ul li a[href="#five"],
#three:target ~ ul li a[href="#five"],
#four:target ~ ul li a[href="#five"],
#one:target ~ ul li a[href="#five"] {
	background: #aaa;
}

/*=======================================
			SIGN IN MODAL
========================================*/

#signin {
	position: absolute;
}	

#signin .modal .modal-content {
    padding: 16px;
}	

#signin .input-field {
	margin-bottom: 8px;
}

#signin p {
	margin: 0auto;
}

#signin form .btn {
	display: block;
	margin: 0 auto;
	margin-top: 16px;
	background-color: #E91E63;
}