/*=====================================
			GLOBAL STYLES
======================================*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('<?= base_url('fonts/glyphicons-halflings-regular.woff')?>') format('woff'), url('<?= base_url('fonts/glyphicons-halflings-regular.ttf')?>') format('truetype'), url('<?= base_url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular')?>') format('svg');
}



.secondary-text {
	color: rgba(255, 255, 255, 0.7);
}


.nav-wrapper {
	padding: 2% 4.563492063492063% 0 4.563492063492063%;
	min-height: 113px;
}

/*=====================================
			Form Styles
======================================*/			
   

/*=====================================
			STATUS BAR 
======================================*/



/*=====================================
		   PRE LOG IN NAVBAR
======================================*/

.navbar-header{
	background-color: #007de3;
}

.navbar-header .navbar-brand{
	color: white;
}

.signin{
	width: 80px;
	float: right;
	border-radius: 2px;
	margin: 8px 6px 0 0;
	background-color: #e91e63;
	color: white;
	border: none;
		      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.signin:hover{
	background-color: #d51b5a;
	color: white;
}

.links{
	width: 100%;
	background-color: #007de3;
	padding: 0 0 5px 10px;
}

.links a{
	color: #83c0f1;
	padding-left: 15px;

}

/*=====================================
			LOGGED IN NAVBAR
======================================*/



/* ==========================
	Search Animation CSS 
=============================*/ /*


/*=====================================
				CARDS
======================================*/



@media only screen and (max-width : 600px) {

/*===========================================
					USER CARD
============================================*/
	.card-panel {
		width: 90%;
		height: auto;
		margin-top: 24px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	/* User Info */
	.user-profile {
		background-color: #F4F4F4;
		height: 94px;
	}

	.avatar {
		height: 50px;
		width: 50px;
		border: 2px solid #000;
		margin-left: 24px;
		margin-top: 8px;
		border-radius: 50%;
	}

	.user-info {
		width: 66%;
		float: right;
		text-align: center;
	}

	.user-info h3 {
		font-size: 16pt;
		color: rgba(0, 0, 0, 0.68);
		margin-top: 8px;
		margin-bottom: 4px;
		display: inline-block;
		line-height: 19px;
	}

	.user-info h4 {
		font-size: 14pt;
		color: rgba(0, 0, 0, 0.54);
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block;
		line-height: 16px;
	}

	.research-area h4 {
		font-size: 12pt;
		color: rgba(0, 0, 0, 0.68);
		display: inline-block;
		line-height: 16px;
		margin-top: 8px;
		margin-bottom: 0px;
		margin-left: 8px;
	}
	/* End of User Info */

	/* FLOATING ACTION BUTTON */
	.fba-more {
			display: inline-block;
			float: right;
			margin-top: 8px;
	}

	.fba-more .btn-floating {
		width: 48px;
		height: 48px;
		line-height: 48px;
		margin-right: 8px;
	}
	
	.fba-more .btn-floating i {
		line-height: 48px;
		font-size: 2.5rem;
	}
	/* End of Floating Action Button */

	/* INFO BAR */
	.info-bar h5 {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.54);
		display: inline-block;
	}

	.dynamic-info {
		display: inline;
	}

	.proximity i {
		margin-left: 8px;
		padding-right:4px;
		color: rgba(0, 0, 0, 0.54);
		font-size: 1.5rem;
	}

	.date i {
		margin-left: 8px;
		padding-right: 4px;
		color: rgba(0, 0, 0, 0.54);
		font-size: 1.5rem;
	}

	.info-bar {
		height: 36px;
		background-color: #fff;
	}

	.close-btn {
		visibility: hidden;
		display: inline-block;
		float: right;
	}
}

		/* End of User Card */

/*=======================================
			EVENT CARD
=======================================*/			

	.event-profile {
		background-color: #F4F4F4;
		height: 94px;
	}

	.event-topic {
		width: 66%;
		float: right;
		text-align: center;
	}

	.event-topic h3 {
		font-size: 16pt;
		color: rgba(0, 0, 0, 0.68);
		margin-top: 8px;
		margin-bottom: 4px;
		display: inline-block;
		line-height: 19px;
		float: left;
	}

	.speaker-intro h3 {
		font-size: 14pt;
		color: rgba(0, 0, 0, 0.68);
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block;
		line-height: 16px;
	}

	.speaker-intro h4 {
		font-size: 12pt;
		color: rgba(0, 0, 0, 0.54);
		display: inline-block;
		line-height: 14px;
		margin-top: 8px;
		margin-bottom: 0px;
		margin-left: 8px;
	}

	#event-card .avatar {
		margin: auto;
	}

	#event-card .fba-more {
		margin-top: 16px;
	}
/*=======================================
			SIGN IN MODAL
========================================*/

#signin {
	position: absolute;
}	

#signin .modal .modal-content {
    padding: 16px;
}	

#signin .input-field {
	margin-bottom: 8px;
}

#signin p {
	margin: 0auto;
}

#signin form .btn {
	display: block;
	margin: 0 auto;
	margin-top: 16px;
	background-color: #E91E63;
}
