/*=====================================
			GLOBAL STYLES
======================================*/

html{
	margin-top: -20px;
}

body{
	overflow: hidden;
}
.secondary-text {
	color: rgba(255, 255, 255, 0.7);
}

.modal .modal-header {
	float: right;
}

.wrapper{
	height: 100%;

}

.nav-wrapper {
	padding: 2% 4.563492063492063% 0 4.563492063492063%;
}

/*=====================================
			Form Styles
======================================*/			

  /* label color */
   .input-field label {
     color: #000;
   }

   .input-field{
   	margin: 0 !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #E91E63;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #E91E63;
     box-shadow: 0 1px 0 0 #E91E63;
   }


   

/*=====================================
			STATUS BAR 
======================================*/

#status .navbar-fixed {
	width: 100%;
	height: 20px;
	background-color: #0066BA;
}

/*=====================================
		   PRE LOG IN NAVBAR
======================================*/
#navBar nav {
	height: auto;
	line-height: 36px;
}  

#navBar nav .logo {
	font-size: 20px;
	margin: 0 0 0 3.5%;

}

#navBar nav .btn {
	float: right;
}

#navBar .divider {
	width: 92%;
	margin: auto;
}

#navBar .about {
	margin: 0 0 0 3.5%;
}

#navBar .about:hover {
	color: #fff;
}

#navBar .sign-up {
	padding-left: 16px;
}

#navBar .sign-up:hover {
	color: #fff;
}

@media only screen and (max-width : 600px) {
	#navBar nav .logo {
		font-size: 20px;
	}

	#navBar nav .btn {
		line-height: 24px;
		height: 24px;
		padding: 0px 6px 3px 6px;
		font-size: 14px;
		text-transform: none;
	}	

}

.plus-button{
	margin: 112px 60px 0 0;
	float: right;
}

.waves-light{
	overflow: hidden;
}

/*=====================================
			LOGGED IN NAVBAR
======================================*/

#navBar {
	margin-top: 20px;
}

#navBar nav {
	height: auto;
}

#navBar nav .btn-floating {
	margin-bottom: -62px;
}

#navBar nav .input-field {
	width: 80%;
	margin-left: 20%;
}

#navBar .search {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 80%;
  float: right;
  line-height: 40px;
  height: 40px;
  background-color: #f2f2f2;
}

#navBar .search i{
	color: rgba(0,0,0,0.54);
	padding-left: 8px;
}

#search{
	color: rgba(0,0,0,0.68);
}

#navBar .profile-btn{
	width: 20%;
	height: 50px;
	line-height: 50px;
}

#navBar .navlink i{
	font-size: 36px;
	width: 100%;
}

#navBar .search-bar{
	margin: 16px;
}

.profile-btn{
	margin: auto;
}

.nav-container a{
	font-size: 15pt;
}

.nav-container a:hover{
	border-bottom: 3px solid #ee1962;

}
.nav-container li:hover{
	background-color: transparent;
}


.nav-container {
        text-align: center;
        height: 59px;
}

.nav-container ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
        float: left;
}

.nav-container li {
        float: left;
        padding: 0 5px;
}



.nav-recent{
	margin: 0 40px 0 56px;
}









/*=======================================
			SIGN IN MODAL
========================================*/

#signin {
	position: absolute;
}	

#signin .modal .modal-content {
    padding: 16px;
}	

#signin .input-field {
	margin-bottom: 8px;
}

#signin p {
	margin: 0auto;
}

#signin form .btn {
	display: block;
	margin: 0 auto;
	margin-top: 16px;
	background-color: #E91E63;
}
/*=====================================
				CARDS
======================================*/
#recent .card-panel {
	margin-top: 54px;
}

#discover .card-panel {
	margin-top: 54px;
}

/
